autoconf
automake
bash
binutils
expat
file
gcc
gcc-g++
gcc-gfortran
gcc-gnat
gcc-java
gcc-objc
gettext
gettext-tools
glibc
glibc-solibs
kernel-headers
libcap
libmpc
libtool
make
mpfr
ncurses
openssl
openssl-solibs
perl
sysvinit-functions
sysvinit-scripts
